.text-content.animated-small {
    max-width: 1200px;
    text-align: justify;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;

    overflow: hidden;
  }

  @media (max-width: 768px) {
    .text-content.animated-small {
      font-size: 16px;
    }
  }
  
  .word {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    transition: all 0.4s ease-out;
  }
  
  .word.show {
    opacity: 1;
    transform: translateY(0);
  }