.carousel-container {
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 16 / 9;
    /* overflow: hidden; */
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .carousel-track {
    display: flex;
    height: 100%;
    transition: transform 1.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
  
  .carousel-image {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    filter: grayscale(100%);
  }
  